.container{
    display: flex;
    flex-direction: row;
    border: 2px solid azure;
    margin-left: 50px;
    margin-right: auto;
    width: 70%;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
    margin-top: 40px;
    margin-left: 50PX;
}
.product-img{
    width: 150px;
    height: auto;
}
