.checkout-items{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.checkout-products{
    width: 70%;

}
.total-container{
    background-color: rgb(212, 200, 226);
    height: 150px;
    width: 250px;
    padding: 20px 20px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 2px 1px 1px rgb(0, 0, 0, 0.3);
    text-align: center;
    color: rgb(64, 20, 105);
}

.pay-button{
    padding: 7px 8px;
    width: 50%;
    border-radius: 3px;
    background-color: rgb(171, 134, 214);
    border: none;
    margin-top: 15px;
    cursor: pointer;
    color: rgb(63, 35, 131);
}

.pay-button:hover{
    background-color:rgb(153, 112, 201);
}